
.vertical-menu {
    width: 200px; 
    display: inline;
    background-color: #4bc7cf;
  }
  
  .vertical-menu a {
    background-color: #eee; 
    color: black; 
    padding: 12px; 
    text-decoration: none; 
  
  .vertical-menu a:hover {
    background-color: #ccc; 
  
  .vertical-menu a.active {
    background-color: #04AA6D; 
    color: white;
  }